*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.5s ease;
  z-index: 1000;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  transition: height 0.5s ease;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}

.nav .logo {
  font-size: 3.5rem;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-right: auto;
  margin-left: 4rem;
}

.nav-link {
  margin: 0 2rem;
  position: relative;
}

.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

#nav-cta {
  display: inline-block;
  background-color: #fff;
  color: #313131;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: background-color 0.5s ease;
}

#nav-cta:hover {
  background-color: #d3d3d3;
}

.scrolling-active {
  background-color: #fff;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.scrolling-active .nav {
  height: 6.6rem;
}

.scrolling-active .nav a {
  color: #313131;
}

.scrolling-active #nav-cta {
  background-color: #313131;
  color: #fff;
}

.scrolling-active #nav-cta:hover {
  background-color: #151515;
}

.scrolling-active .nav-link::after {
  background-color: #313131;
}

.home {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-size: cover;
  position: relative;
}

.services {
  width: 100%;
  height: 100vh;
  background-color: brown;
  background-size: cover;
  position: relative;
}

.services::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.technology {
  width: 100%;
  height: 200vh;
  background-color: pink;
}

.contact {
  width: 100%;
  height: 200vh;
  background-color: coral;
}
body{
	background-color: #020C13;
}
body{
	background-color: #020C13;
}

a{
  color: #fff;
}

.imagenlog{
	width: 120px;
	height: 120px;
	margin-left: 85px;
}

.imagen{
	background: url("/img/AD.png");
	background-size: 150px;
	background-position: left top;
	background-repeat: no-repeat;
}

.contenedor-form{
	width: 350px;
	padding: 40px 30px;
	background: rgb(178, 178, 178);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 50px auto;
}

.contenedor-form-h1{
	text-align: center;
	color: #2c3e50;
}

.input-control{
	width: 100%;
	height: 50px;
	margin-bottom: 15px;
	padding: 5px 7px 5px 15px;
	border: none;
	color: #666;
	border: 2px solid #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.input-control:focus{
	outline-style: none;
	border-color: #2c3e50;
	transition: 0.5s;
}
 .input-control-2{
 	width: 300px;
	height: 50px;
	margin-bottom: 15px;
	padding: 5px 7px 5px 15px;
	border: none;
	color: #666;
	border: 2px solid #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
 }

 .contenedor-form select{
 	width: 15%;
 	height: 30px;
 	text-align: center;
 	border-style: none;
 	border-radius: 5px;
 }

 .log-btn{
 	width: 100%;
 	height: 50px;
 	border: none;
 	background: #2c3e50;
 	color: #fff;
 	cursor: pointer;
 	border-radius: 4px;
 	-moz-border-radius: 4px;
 	-webkit-border-radius: 4px;
 	margin-bottom: 15px;
 }

 .link{
 	display: inline-block;
 	text-decoration: none;
 	color: #2c3e50;
 	font-size: 14px;
 }

 .link:hover{
 	text-decoration: underline;
 }

 .contenedor-form .error{
 	display: inline-block;
 	color: red;
 	font-size: 12px;
 	margin-right: 10px;
 }

