*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: arial;
}

body{
	background-color: #020C13;
}

a{
  color: #fff;
}

.imagenlog{
	width: 120px;
	height: 120px;
	margin-left: 85px;
}

.imagen{
	background: url("/img/AD.png");
	background-size: 300px;
	background-position: center;
	background-repeat: no-repeat;
}

.contenedor-form{
	width: 350px;
	padding: 40px 30px;
	background: rgb(178, 178, 178);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 50px auto;
}

.contenedor-form-h1{
	text-align: center;
	color: #2c3e50;
}

.input-control{
	width: 100%;
	height: 50px;
	margin-bottom: 15px;
	padding: 5px 7px 5px 15px;
	border: none;
	color: #666;
	border: 2px solid #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.input-control:focus{
	outline-style: none;
	border-color: #2c3e50;
	transition: 0.5s;
}
 .input-control-2{
 	width: 300px;
	height: 50px;
	margin-bottom: 15px;
	padding: 5px 7px 5px 15px;
	border: none;
	color: #666;
	border: 2px solid #ccc;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
 }

 .contenedor-form select{
 	width: 15%;
 	height: 30px;
 	text-align: center;
 	border-style: none;
 	border-radius: 5px;
 }

 .log-btn{
 	width: 100%;
 	height: 50px;
 	border: none;
 	background: #2c3e50;
 	color: #fff;
 	cursor: pointer;
 	border-radius: 4px;
 	-moz-border-radius: 4px;
 	-webkit-border-radius: 4px;
 	margin-bottom: 15px;
 }

 .link{
 	display: inline-block;
 	text-decoration: none;
 	color: #2c3e50;
 	font-size: 14px;
 }

 .link:hover{
 	text-decoration: underline;
 }

 .contenedor-form .error{
 	display: inline-block;
 	color: red;
 	font-size: 12px;
 	margin-right: 10px;
 }

 .registrar{
 	display: inline-block;
 	color: #2c3e50;
 	font-size: 15px;
 }

 #edad{
 	display: inline-block;
 	font-size: 18px;
 	margin-right: 10px;
 }


